body {
  background-color: #fff;
}

.blob {
  width: 60%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  filter: contrast(20);
}

.blob .pixel {
  position: absolute;
  border-radius: 100%;
  filter: blur(30px);
}

.right-panel {
  width: 40%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
}

.controls {
  height: 20px;
  width: 100%;
}

.preview {
  height: 300px;
  width: 100%;
}

.gallery {
  width: 100%;
}